* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #ffffff;
  --border-color: #eeeff1;
  --text-color: #213547;
  --button-bg-color: #f9f9f9;
  --button-hover-border-color: #747bff;
  --side-toolbar-bg-color: #ffffff;
  --side-toolbar-border-color: #ccc;
  --custom-node-bg-color: #ffffff;
  --custom-node-border-color: #ccc5c5;
  --custom-node-hover-border-color: rgb(76, 76, 203);
  --custom-node-text-color: #7e7c7c;
  --custom-handle-bg-color: #ffffff;
  --custom-handle-border-color: #555;
  --hr-color: #030000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(27, 29, 33);
    --sidebar-bg-color: rgb(35, 37, 41);
    --text-color: rgba(255, 255, 255, 0.87);
    --button-bg-color: #1a1a1a;
    --button-hover-border-color: #646cff;
    --side-toolbar-bg-color: #242424;
    --side-toolbar-border-color: #ccc;
    --custom-node-bg-color: #1a1a1a;
    --custom-node-border-color: #ccc5c5;
    --custom-node-hover-border-color: #646cff;
    --custom-node-text-color: rgba(255, 255, 255, 0.87);
    --custom-handle-bg-color: #d30000;
    --custom-handle-border-color: #555;
    --hr-color: rgba(255, 255, 255, 0.87);
  }
}
